<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Groups</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <a href="/faculty/groups-create" class="btn btn-sm btn-outline-secondary">Add Group</a>
    </div>
  </div>
</div>
<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
      <div class="table100">
        <table>
          <thead>
            <tr class="table100-head">
              <th class="column1">ID</th>
              <th class="column2">Thesis Title</th>
              <th class="column3"></th>
            </tr>
          </thead>
          <tbody>
            {{#each groups}}
            <tr>
              <th class="column1" scope="row">{{this.id}}</th>
              <td class="column2">{{this.name}}</td>
              <td class="column3"><a href='/faculty/groups/{{this.id}}'><center>Author Details</center></a></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>