body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-signin {
  width: 120%;
  max-width: 330px;
  padding: 15px;
  padding-top: 20%;
  margin: auto;
  background: -webkit-linear-gradient(300deg, rgba(255,113,5,1) 0%, rgba(255,113,5,1) 50%, rgba(0,0,0,1) 100%);
    border-radius: 20px;
}